.common-wrapper {
    width: 970px;
    margin: 0 auto;
}

.body {
    padding: 5px;
    background: url('/images/contact-bg.png') repeat;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    height: auto;
}

.contact-wrapper {
    width: 950px;
    margin: 0 auto;
}

.contact-logo {
    float: left;
    margin: 10px 10px 10px 0px;
}

.list-row {
    float: left;
    margin: 15px
}

.span-right-60 {
    margin-right: 60px
}

.t-lec-image {
    float: left;
    margin: 10px
}

.t-lec-image-desc {
    float: left;
}

.t-lec-image-row {
    float: right;
}

.padding-left-20 {
    padding-left: 20px;
}

.bar-row {
    background-color: #000000;
    cursor: pointer;
}

.new-contact-p {
    margin: 3px 20px;
    color: #ffffff;
    font-size: 12px;
}

.contact-row-bar {

}

.contact-row-bar-wrapper {
    background: url("/images/bar.png") repeat;

}

.new-contact-bar-p {
    margin: 3px 20px;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.padding-left-15 {
    padding-left: 1px;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

.span-float-right {
    width: 10px;
    text-align: right;
}

.mini-menu {
    float: right;
    margin-right: 15px;
}

.top-bar-search {
    margin-top: 10px;
}

.search-field {
    height: 29px;
    margin-top: -5px;
}

.new-contact-link {
    margin: 10px;
    color: #cdcdcd;
}

.right-panel {
    margin: 10px;
    float: right;
    text-align: right;
}

.help {
    padding-right: 10px;
    color: #cdcdcd;
}

.user {
    padding-left: 10px;
    color: #cdcdcd;
}

.label-space {
    height: 20px;
    margin: 3px;
}

.white_content {
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 16px;
    z-index: 1002;
    overflow: auto;
}

.search_icon {
    margin-bottom: -8px;
    margin-left: -21px;
    margin-top: -1.5px -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.adjust_form_right_label{
    margin-top: 1px;
}

.addContactButton{
    width: 861px;
}

