*{
    padding: 0;
    margin: 0;
}

.wrapper {
    background-color: #fefefe;
    border: #c9c9c9 solid 2px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 968px;
    margin: 0 auto;
}

.nav-bar-wrapper {
    width: 968px;
    margin: 0 auto;
}

.top_blue_bar {
    background: url("/images/flycertlogo.png") no-repeat;
	float: auto;
    height:80px;
}

.span-right {
    margin: 0px;
    text-align: right;
    float: right;
    color: #fbfdfd;
    /*border: #003f81 solid 2px;*/
}

a.signup-nav {
    text-align: left;
    text-decoration: underline;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 0px;
    font-size: 12px;
    font-family:Arial;
    font-weight: bold;

}

.top-bar-text p {
    text-align: right;
    color: #f0f0f0;
    font-size: 13px;
    font-weight: lighter;
    font-style: italic;
    text-shadow: #fafafa 0.5px 0.5px;
}

.top-bar-image {
    margin-top: -20px;
}

.top-row {
    border-top: 1.5px #c4d1dd solid;
    border-bottom: 1.5px #c4d1dd solid;
    margin: 20px auto;
    width: 968px;
    height: 58px;
    background:url('/images/central_title_freetrial.jpg') #dedede center left no-repeat;
}

.trial-signup-text p {
    font-family: Arial;
    margin: 12px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #2b71ba;
}

.signupbox{
   margin: 20px;
   padding: 30px;

}

a.signup-nav:hover{
    background-color:inherit;
    text-decoration: none;
}

.signup-label
{
    text-align: left;
    width: 200px;
}

.spaceright{
    padding-right: 0px;
}

.signup-title h3{
    color: #545454;
}

input.signup-special-label{
    width: 300px;
}

.right-corner{
    width: 350px;
    margin-top: 90px;
    margin-left: -120px;
    height: 400px;
}

span.sub-title{
    color: #afafaf;
    font-size: 10.5px;
    font-weight: lighter;
}

.side-title{
    border-bottom: 1px solid #eeeeee;
}

.title > h5{
    color: #a8a8a8;
    font-size: 13px;
}

p.title-desc{
    font-size: 13px;
    font-weight: bold;
}

footer{
    color: #cccccc;
    height: 40px;
    background:  #111111 repeat;
    margin-bottom: -50px;
}

a.footer-text{
    text-align: left;
    text-decoration: underline;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 0px;
    font-size: 12px;
    font-family:Arial;
    font-weight: bold;
}

a.footer-text:hover{
    background-color:inherit;
    text-decoration: none;
}