.login_box{
    width: 525px;
    height: auto;
    margin: auto auto -10px auto;
    padding: 20px;
    border: #cbdcee 2px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.logo{
    background: url("/images/flycertlogo_glow.png") no-repeat top center;
}

.label-right
{
    width: 92px;
    height: 22px;
    font-size: 10px;
    margin-bottom: 15px;
    float: right;
    margin-right: 25px;
    font-weight: lighter;
}

p.account-info{
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: -35px;
    color: #535353;
}

input.less-width-textarea{
    width: 160px;
}

.forget-link{
    text-decoration: underline;
    color: #6b6b6b;
    margin-left: 12px;
}

.account-type-info{
    color: #725c5c;
}

.modified-footer{
  border: none;
  color: #6b6b6b;
}

.normal-label{
    padding: 15px;
    font-size: 15px;
    float: right;
}

.normal-input{
    padding: 10px;
}

.addContactTitle{
    font-size: 18px;
    padding:0 0;
    text-align: center;
    cursor: inherit;
}

.addContactTitle:hover{
    color: inherit;
}

#addContact:hover{
    background-color: #616161;
    color: #bdddff;
    cursor: pointer;
}

.addContactButton{
    text-align: center;
}

.signupbox{
    width: 650px;
    margin: 0 auto;
}

a.signuplink {
    padding-bottom: -10px;
}