.login_box{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: #cbdcee 2px solid;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.logo{
    background: url("/images/flycertlogo_glow.png") no-repeat top center;
}