.login_box{
    padding: 25px;
    border: #cbdcee 2px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.logo{
    background: url("/images/flycertlogo_glow.png") no-repeat top center;
}