<div class="body">
  <div class="row contact-logo">
    <div class="span2">
      <div class="image"><img src="/images/settings_icon_Large.png"/></div>
    </div>
    <div class="span2">
      <p class="settings_title">Settings</p>
    </div>
  </div>

  <div class="row t-lec-image" style="float: right;">
    <div class="span3 t-lec-image-desc">
      <div class="t-lec-image-row"><img src="/images/T-Lec-clip.png"/></div>
    </div>
  </div>
  <div class="clear3"></div>
  <%= render :partial => 'users/partials/company' %>
</div>