<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">Fly Cert</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>
<footer>
 <center><p>&copy; Fly Cert, 2011</p></center>
</footer>
</body>
</html>
